{% extends "base.html" %}

{% block content %}
  <h1>My Projects</h1>
  <p>
    <a href="{% url 'create_project' %}">Create a new project</a>
  </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of tasks</th>
      </tr>
    </thead>
    <tbody>
      {% if projects_list|length == 0 %}
        <p> You are not assigned to any projects </p>
      {% else %}
      {% for project in projects_list %}
      <a href="{% url 'show_project' project.id %}">details</a>
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.tasks.all|length }}</td>
        </tr>
        {% endfor %}
      {% endif %}
  </tbody>
</table>

{% endblock content %}
